 *{
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

header {
  background-color: #63676e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
  position: sticky;
  top: 0;
}

header img {
  width: 120px;
}

ul {
  list-style: none;
}

nav ul {
  display: flex;
  gap: 10px;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

img {
  max-width: 100%;
}

  .enlaces {
  color: #f5f5f5;
  padding: 5px 10px;
  font-size: 2rem;

}

.banner {
  background-image: url(../assets/img/entrenamiento.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 480px;
  width: 100%;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: cursive;
  margin: 50px 0;
}

h1, h2, h3 {
  color: #f5f5f5;
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}
h4 {
  color: #f5f5f5;
  text-align: center;
  font-size: 1.5rem;
  margin: 5px 10;
  padding: 5px 10;
}

.parrafo-white {
  color: #f5f5f5;
  text-align: center;
  font-size: 1rem;
  font-family: cursive;
  box-sizing: border-box;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem;
}

@media (max-width: 320px) {
  .parrafo-white {
    font-size: 18px;
    color: #f5f5f5;
  }
}

.padre-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 100%;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card img {
  display: block;
  border-radius: 0;
  box-shadow: 0 10px 50px #48cf3c;
}

.contenedor-padre {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.contenedor.reverse {
  flex-direction: column; 
  background-color: #63676e;
  color: #f5f5f5;
  margin: 15px;
  padding: 50px;
  font-family: cursive;
}

.imagen-fullbody {
  margin-right: 0; 
}

.contenedor-textos {
  width: 100%;
  margin-right: 0; 
}

@media (min-width: 768px) {
  .contenedor.reverse {
    flex-direction: row-reverse;
    padding: 20px; 
  }

  .imagen-fullbody {
    margin-right: 20px; 
  }

  .contenedor-textos {
    width: 50%; 
    margin-right: 20px;
  }
}

.contenedor-textos h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.contenedor-textos p {
  font-size: 18px;
  font-family: cursive;
  line-height: 1,5;
  color: #f5f5f5;
}

.contenedor img {
  max-width: 250px;
}

@media (max-width: 320px) {
  .contenedor.reverse {

  }
}

footer {
  background-color: #63676e;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-family: cursive;
}

.padre-redes {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.icono-redes {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 5px #cf3c6d;
  transition: all 0.3s ease;
  cursor: pointer;
}

.whatsapp:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 10px #cf3c6d;
}

.navbar {
  width: 100%;
}

.custom-navbar {
  background-color: #65646e; 
}

.navbar-brand {
  margin-right: auto;
}

.custom-navbar-list {
  display: flex;
  flex-direction: row; 
  align-items: center; 
}

.custom-navbar-list .navbar-nav {
  margin-right: 0;
  margin-left: auto;
}

.nav-link {
  color: #f5f5f5; 
}


@media (max-width: 768px) {
  .custom-navbar-list .navbar-nav {
      display: none;
  }

  .custom-navbar-list .navbar-toggler {
      display: block;
  }
}
.actividades.css .contacto.css .nosotros.css .ubicacion.css {
  
  header {
    background-color: #63676e;
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
header a {
    text-decoration: none; 
    color: #f5f5f5; 
}


nav ul {
    list-style: none; 
    padding: 0; 
    display: flex;
    gap: 20px; 
}


nav ul li {
    display: inline;
}


.enlaces {
    text-decoration: none; 
    color: #f5f5f5; 
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }
}
}


/* Estilos para el formulario */

.form {
  color: #f5f5f5;
  margin: 30px auto;
  max-width: 600px;
}

.form-group {
  margin-bottom: 30px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 18px;
}

.form-control {
  width: 100%;
  padding: 15px; /* Reduce el padding en pantallas más pequeñas */
  border: none;
  border-radius: 5px;
  box-shadow: 0 10px 10px #cf3c6d;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  box-shadow: 0 5px 10px #cf3c6d;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #cf3c6d;
  color: #f5f5f5;
}

.btn-secondary {
  background-color: #cf3c6d;
  color: #f5f5f5;
  margin-left: 15px;
}

.btn:hover {
  transform: translateY(-2px);
  background-color: #cf3c6d;
}


@media (min-width: 768px) {
  .form-control {
    padding: 30px;
  }
  
}


footer {
  background-color: #63676e;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.padre-redes {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.icono-redes {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 2px 5px #cf3c6d;
  transition: all 0.3s ease;
  cursor: pointer;
}

.whatsapp:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 10px #cf3c6d;
}
actividades.css {
  color: #cf3c6d;
}
navbar {
  width: 100%;
}
.actividades {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  padding: 2rem;
}



.contenedor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2e2e3b;
  border-radius: 10px;
  box-shadow: 0px 20px 50px #cf3c6d;
  overflow: hidden;
}


.contenedor-card img {
  max-width: 100%;
}


.contenedor-texto {
  padding: 10px;
  color: #f5f5f5;
}

@media only screen and (max-width: 768px) {

  .actividades {
    grid-template-columns: 1fr;
  }


  .contenedor-card img {
    max-width: 50%;
  }


  h1, h2, h3 {
    font-size: 1.5rem;
    font-family: cursive;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  h1, h2, h3 {
    font-size: 1.5rem;
  }
}


@media(min-width: 1024px) {

  h1, h2, h3 {
    font-size: 1.5rem;
  }
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    flex: 1; 
}

.logo img {
    max-width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}


.nav-list li {
    display: inline;
}


.enlaces {
    text-decoration: none;
    color: #f5f5f5; 
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }
}