@media (max-width: 320px) {
    .parrafo-white {
      font-size: 18px;
      color: #f5f5f5;
    }
}

@media (max-width: 768px) {
    .custom-navbar-list .navbar-nav {
      display: none;
    }
    .custom-navbar-list .navbar-toggler {
      display: block;
    }
}

@media (max-width: 768px) {
    .actividades.css header {
      flex-direction: column;
      text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    .actividades {
      grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    h1, h2, h3 {
      font-size: 1rem;
    }
  }
  @media (min-width: 1024px) {
    h1, h2, h3 {
      font-size: 2rem;
    }
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }}