/*Paleta de colores*/
$color-primario: #63676e;
$color-secundario: #f5f5f5;
$color-terciario: #333;

/*Tamaño de fuentes e iconos*/
$fuente-grande: 40px;
$fuente-media: 20px;
$icono-chico: 40px;
$icono-grande: 60px;

/*Resoluciones de pantallas*/
$tablet: 768px;
$desktop: 992px;
$desktopXG: 1200px;


/*Separaciones (margenes y paddings)*/
$espacio-Xchico:10px;
$espacio-chico:20px;
$espacio-medio:40px;
$espacio-grande:60px;

/*Fuente*/
$Fuente-principal: 'Montserrat', sans-serif;

/*MIXINS*/
@mixin flex-column {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-fila-centrado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}